@model DD4T.ContentModel.IPage
@using DD4T.Mvc.Html

@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="stylesheets/ie.css">
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>@Model.Title (@Model.Id) - Alten</title>

    <!-- Viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon och Apple Touch Icon -->
    <link rel="apple-touch-icon" href="http://www.alten.se/wp-content/themes/xdin/images/misc/apple-touch-icon.png">
    <link rel="icon" type="image/x-icon" href="http://www.alten.se/wp-content/themes/xdin/images/misc/favicon.ico">

    <!-- Fallback to local copy of jQuery if Google's CDN Fails -->
    <script type="text/javascript">!window.jQuery && document.write('<script src="/wp-includes/js/jquery/jquery.js"><\/script>')</script>

    <link rel="stylesheet" type="text/css" href="http://www.alten.se/wp-content/themes/xdin/css/MyFontsWebfontsKit.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="http://www.alten.se/wp-content/plugins/easy-table-creator/css/easy_table_creator.css" />
    <link type="text/css" rel="stylesheet" href="http://www.alten.se/wp-content/plugins/easy-table-creator/css/tablesorter/style.css" />

    <link rel="canonical" href="http://www.alten.se/en/om-alten/nyheter/david-ljungstrom-new-head-operations-alten-scandinavia/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="David Ljungström – New Head of Operations for ALTEN Scandinavia - Alten" />
    <meta property="og:description" content="David Ljungström, 44, has been appointed as the new Head of Operations for Scandinavia. ALTEN is facing an expansive phase of growth in both the service and customer segments, making this appointment far more relevant and needed for the achievement of ALTEN’S objectives in Scandinavia and for a permanent improvement of services toward our customers. &hellip;" />
    <meta property="og:url" content="http://www.alten.se/en/om-alten/nyheter/david-ljungstrom-new-head-operations-alten-scandinavia/" />
    <meta property="og:site_name" content="Alten" />
    <!-- / Yoast WordPress SEO plugin. -->

    <link rel='stylesheet' id='fd_css-css' href='http://www.alten.se/wp-content/themes/xdin/css/foundation.css?ver=4.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='fd_ie-css' href='http://www.alten.se/wp-content/themes/xdin/css/ie.css?ver=4.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='chosen-css' href='http://www.alten.se/wp-content/themes/xdin/css/chosen.css?ver=4.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='screen-css' href='http://www.alten.se/wp-content/themes/xdin/css/screen.css?ver=4.1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-pagenavi-css' href='http://www.alten.se/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
    <script type='text/javascript' src='http://www.alten.se/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/plugins/easy-table-creator/js/easy_table_creator.js?ver=0.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/plugins/easy-table-creator/js/jquery.tablesorter.min.js?ver=0.1'></script>
    <meta name="generator" content="WPML ver:3.0.1 stt:1,52;0" />



</head>
<body class="single single-post postid-285424 single-format-standard desktop chrome wpb-js-composer js-comp-ver-3.6.13 vc_responsive">
    <header role="banner" class="container">
        <div class="row orange">
            <div class="columns two phone-two">
                <h1 id="logo">
                    <a class="text" href="http://www.alten.se/en/" title="">
                        <img src="http://www.alten.se/wp-content/themes/xdin/images/logo-english.png" alt="Alten | David Ljungström – New Head of Operations for ALTEN Scandinavia - Alten" title="Alten | David Ljungström – New Head of Operations for ALTEN Scandinavia - Alten" width="125" height="54" id="png" />
                    </a>
                </h1>
            </div>
            <div class="columns ten phone-two">
                <nav id="menu">
                    <ul class="nav-bar hide-on-phones">
                        <li id="menu-what-we-do">
                            <a href="#">What we do<span>Alten’s offer</span></a>
                            <ul class="sub-menu">
                                <li id="menu-services"><a href="#">Services<span></span></a></li>
                                <li id="menu-business-sectors"><a href="#">Business Sectors<span></span></a></li>
                                <li id="menu-work-package-solutions"><a href="#">Work Package Solutions<span></span></a></li>
                                <li id="menu-reference-cases"><a href="#">Reference cases<span></span></a></li>
                                <li id="menu-research-projects"><a href="#">Research projects<span></span></a></li>
                            </ul>
                        </li>
                        <li id="menu-work-at-alten">
                            <a href="#">Work at Alten<span>Careers and students</span></a>
                            <ul class="sub-menu">
                                <li id="menu-job-openings"><a href="#">Job openings<span></span></a></li>
                                <li id="menu-open-application"><a href="#">Open Application<span></span></a></li>
                                <li id="menu-students"><a href="#">Students<span></span></a></li>
                                <li id="menu-career-at-alten"><a href="#">Career at Alten<span></span></a></li>
                            </ul>
                        </li>
                        <li id="menu-alten-training"><a href="#">Alten Training<span>Our courses</span></a></li>
                        <li id="menu-about-alten">
                            <a href="#">About Alten<span>Information about us</span></a>
                            <ul class="sub-menu">
                                <li id="menu-contact-us"><a href="#">Contact us<span></span></a></li>
                                <li id="menu-alten-group"><a href="#">Alten Group<span></span></a></li>
                                <li id="menu-news" class="current_page_parent"><a href="#">News<span></span></a></li>
                                <li id="menu-business-model"><a href="#">Business Model<span></span></a></li>
                                <li id="menu-history"><a href="#">History<span></span></a></li>
                                <li id="menu-events"><a href="#">Events<span></span></a></li>
                                <li id="menu-corporate-social-responsibility"><a href="#">Corporate Social Responsibility<span></span></a></li>
                                <li id="menu-usa"><a href="#">USA<span></span></a></li>
                            </ul>
                        </li>
                        <li class="last">
                            <a href="#" id="lang">Svenska</a>
                            <a href="#" alt="Search" id="search" class="hide-text"><p>Search www.alten.se</p></a>
                            <div id="dropdown-search">
                                <form role="search" method="get" class="nice" id="searchform" action="http://www.alten.se/en/" style="margin:0px;padding:0px 10px;">
                                    <div class="form-field">
                                        <input placeholder="Search" class="nice text-input" value="" type="text" name="s" id="s" />
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                    <a id="show-menu" href="#!" title="" class="show-on-phones"><i class="fa fa-reorder"></i></a>
                    <div id="mobilemenu" style="display:none;">
                        <ul class="mobile-lang-switcher">
                            <li class=""><a href="#">Svenska</a></li>
                            <li class="active ">English</li>
                        </ul>
                        <div class="menu-mobile-container">
                            <ul>
                                <li id="menu-item-115993" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115993">
                                    <a href="#">What we do</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-115994" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-115994">
                                            <a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-115995" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115995"><a href="#">Product Development</a></li>
                                                <li id="menu-item-115996" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115996"><a href="#">Electronics and Software Development</a></li>
                                                <li id="menu-item-115997" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115997"><a href="#">System and Application Development</a></li>
                                                <li id="menu-item-115998" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115998"><a href="#">Analysis and Simulation</a></li>
                                                <li id="menu-item-115999" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-115999"><a href="#">Design &#038; Visualisation</a></li>
                                                <li id="menu-item-116000" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116000"><a href="#">PLM</a></li>
                                                <li id="menu-item-116001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116001"><a href="#">Test and Quality Assurance</a></li>
                                                <li id="menu-item-116002" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116002"><a href="#">Process and Plant Design</a></li>
                                                <li id="menu-item-224396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-224396"><a href="#">Project Management</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-116003" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116003">
                                            <a href="#">Business Sectors</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-116004" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116004"><a href="#">Automotive</a></li>
                                                <li id="menu-item-116005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116005"><a href="#">Telecom</a></li>
                                                <li id="menu-item-116006" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116006"><a href="#">Energy</a></li>
                                                <li id="menu-item-116007" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116007"><a href="#">Industry</a></li>
                                                <li id="menu-item-116008" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116008"><a href="#">Defence &#038; Aerospace</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-116009" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116009"><a href="#">Work Package Solutions</a></li>
                                        <li id="menu-item-116010" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116010"><a href="#">Research projects</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-116038" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116038">
                                    <a href="#">Work at Alten</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-116039" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116039"><a href="#">Job openings</a></li>
                                        <li id="menu-item-116040" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116040"><a href="#">Open Application</a></li>
                                        <li id="menu-item-116053" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116053">
                                            <a href="#">Career at Alten</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-116042" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116042"><a href="#">Anders Hedkvist</a></li>
                                                <li id="menu-item-116043" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116043"><a href="#">Annika Haglund</a></li>
                                                <li id="menu-item-116044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116044"><a href="#">Björn Stenborg</a></li>
                                                <li id="menu-item-116045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116045"><a href="#">Daniel Hallén</a></li>
                                                <li id="menu-item-116046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116046"><a href="#">Daniel Lindgren</a></li>
                                                <li id="menu-item-116047" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116047"><a href="#">David Dahlberg</a></li>
                                                <li id="menu-item-116048" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116048"><a href="#">Henrik Jernevad</a></li>
                                                <li id="menu-item-116049" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116049"><a href="#">Mikael Almquist</a></li>
                                                <li id="menu-item-116050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116050"><a href="#">Pär Lundgren</a></li>
                                                <li id="menu-item-116051" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116051"><a href="#">Rosaria D&#8217;Alessandro</a></li>
                                                <li id="menu-item-116052" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116052"><a href="#">Sara Lundström</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-116054" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116054">
                                            <a href="#">Students</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-116041" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116041"><a href="#">Thesis Work</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu-item-116012" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116012"><a href="#">Alten Training</a></li>
                                <li id="menu-item-116013" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-116013">
                                    <a href="#">About Alten</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-142977" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142977"><a href="#">Contact us</a></li>
                                        <li id="menu-item-142979" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142979"><a href="#">Alten Group</a></li>
                                        <li id="menu-item-116015" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent menu-item-116015"><a href="#">News</a></li>
                                        <li id="menu-item-116014" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116014"><a href="#">Business Model</a></li>
                                        <li id="menu-item-116017" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116017"><a href="#">History</a></li>
                                        <li id="menu-item-116016" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116016"><a href="#">Events</a></li>
                                        <li id="menu-item-116018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-116018"><a href="#">Corporate Social Responsibility</a></li>
                                        <li id="menu-item-142978" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-142978"><a href="#">USA</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>



    <!-- Featured Slider -->
    <!-- Third level menu -->
    <div class="container sub-bar">
        <div class="row">
            <div class="columns three"></div>
            <div class="columns nine">
                <nav>
                    <ul>
                        <li class="hide-on-phones">
                            <a href="#" title="">‹ Back to news</a>
                        </li>
                        <li class="right meta">
                            <strong>Published: </strong> @Model.LastPublishedDate
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



    <!-- Begin Container -->
    <div id="main" class="container subpage">
        <div class="row">
            <aside class="columns three hide-on-phones">
                <nav class="sub-nav">
                    <h2><a href="#" title="">About Alten</a></h2>
                    <ul>
                        <li class="page_item page-item-658 page_item_has_children">
                            <a href="#">Contact us</a>
                            <ul class='children'>
                                <li class="page_item page-item-1839"><a href="#">Gothenburg</a></li>
                                <li class="page_item page-item-2084"><a href="#">Stockholm</a></li>
                                <li class="page_item page-item-2088"><a href="#">Linköping</a></li>
                                <li class="page_item page-item-2092"><a href="#">Lund</a></li>
                                <li class="page_item page-item-101819"><a href="#">Jönköping</a></li>
                                <li class="page_item page-item-101844"><a href="#">Greensboro</a></li>
                                <li class="page_item page-item-176614"><a href="#">Oslo</a></li>
                                <li class="page_item page-item-2095"><a href="#">Västerås</a></li>
                                <li class="page_item page-item-94206"><a href="#">Umeå</a></li>
                                <li class="page_item page-item-2098"><a href="#">Virginia Beach</a></li>
                            </ul>
                        </li>
                        <li class="page_item page-item-112711"><a href="#">Alten Group</a></li>
                        <li class="page_item page-item-660 current_page_parent"><a href="#">News</a></li>
                        <li class="page_item page-item-653"><a href="#">Business Model</a></li>
                        <li class="page_item page-item-662"><a href="#">History</a></li>
                        <li class="page_item page-item-2214"><a href="#">Events</a></li>
                        <li class="page_item page-item-672"><a href="#">Corporate Social Responsibility</a></li>
                        <li class="page_item page-item-112693"><a href="#">USA</a></li>
                    </ul>
                    <div class="shadow left"></div>
                    <div class="shadow right"></div>
                </nav>
            </aside>
            <section class="columns nine">
                @Html.RenderComponentPresentations()
            </section>
        </div>
    </div>

    <!-- End Container -->
    <script>
jQuery(document).ready(function() {
	jQuery("#menu-om-xdin, #menu-about-xdin").addClass("current-menu-item");
});
    </script>
    <footer>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="columns six">
                        <p><strong>De mest engagerade teknik- och IT-konsulterna</strong></p>
                    </div>
                    <div class="columns six right">
                        <p class="mobile-center">
                            <a href="#" class="social"><i class="fa fa-linkedin-square"></i> Linkedin</a>
                            <a href="#" class="social"><i class="fa fa-facebook-square"></i> Facebook</a>
                        </p>
                        <div class="mobile-center">
                            <p><strong>Phone:</strong> +46 (0)31 725 1000</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="two columns">
                    <img src="http://www.alten.se/wp-content/themes/xdin/images/footer-logo.png" title="Alten" />
                </div>
                <div class="two columns hide-on-phones">
                    <h3>Alten Headquarter</h3>
                    <h4>Göteborg</h4>
                    <address>
                        A Odhners Gata 41<br />
                        SE-421 30 VÄSTRA FRÖLUNDA<br />
                        Tel: <a href="#">
                            +46 (0)31-725 1000<br />
                        </a>Fax:+46 (0)31-725 1099
                    </address>
                </div>
                <div class="two columns hide-on-phones">
                    <h3>Other offices:</h3>
                    <p>
                        <a href="#">Stockholm ›</a><br />
                        <a href="#">Lund ›</a><br />
                        <a href="#">Västerås ›</a><br />
                        <a href="#">Linköping ›</a><br />
                        <a href="#">Jönköping ›</a><br />
                        <a href="#">Umeå ›</a><br />
                        <a href="#">Oslo ›</a><br />
                        <a href="#">Virginia Beach ›</a><br />
                        <a href="#">Greensboro ›</a>
                    </p>
                </div>
                <div class="one columns hide-on-phones"></div>
                <div class="two columns hide-on-phones">
                    <h3>Quick Links:</h3>
                    <p>
                        <a title="Services" href="http://www.alten.se/en/what-we-do/services/">Services ›</a><br />
                        <a title="Industries" href="http://www.alten.se/en/what-we-do/industries/">Industries ›</a><br />
                        <a title="Work at Alten" href="http://www.alten.se/en/work-at-xdin/">Careers ›</a><br />
                        <a title="Alten Training" href="http://www.alten.se/xdin-training/">Alten Traning ›</a><br />
                        <a title="Contact Us" href="#">Contact ›</a>
                    </p>
                </div>
                <div class="three columns hide-on-phones">
                    <h2>Support CWCN:</h2>
                    <p>You can support CWCN too, by making a donation to: &#8220;CWCN&#8217;s Stodforening&#8221;, SWIFT: HANDSESS, Account No. 300 407 998. All the money received will go directly to the street children in Nepal.</p>
                </div>
            </div>
        </div>
        <div class="container social">

            <div class="row">
                <div class="columns twelve">
                    <small style="color:#888;">Producerad av <a style="color:#888;font-size:10px;" href="http://www.raketwebbyra.se/" title="Raket Webbyrå i Göteborg">Raket Webbyrå i Göteborg</a></small>
                </div>
            </div>
        </div>
    </footer>

    <div id="jobModal" class="reveal-modal"></div>


    <!-- Prompt IE 6 users to install Chrome Frame. -->
    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
        <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
    <script type="text/javascript">

    jQuery(document).ready(function(){
      //  jQuery(".easy-table-creator").tablesorter({widgets: ['zebra']});
    })

    </script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/modernizr.foundation.js?ver=4.1.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/foundation.js?ver=4.1.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/jquery.placeholder.min.js?ver=4.1.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/chosen.jquery.min.js?ver=4.1.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/hoverIntent.js?ver=4.1.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/plugins/js_composer/assets/lib/flexslider/jquery.flexslider-min.js?ver=3.6.13'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/jpanelmenu.min.js?ver=4.1.1'></script>
    <script type='text/javascript' src='http://www.alten.se/wp-content/themes/xdin/js/app.js?ver=4.1.1'></script>

</body>
</html>